
.about {

display: flex;

#div-img {
  margin: 7px 50px 0 0;
  min-width: 130px;
  @include media-query($on-palm) {
    display: none;
  }
}

img {
  max-height: 185px;
  border-radius: 5px;
}


#div-img-palm {
  display: none;
  margin-bottom: 25px;
  @include media-query($on-palm) {
    display: block;
  }
}

#div-desc {
  max-width: 650px;
//   @include media-query($on-palm) {
//     text-align: justify;
//   }
}

p {
  margin-bottom: 20px;
}

#p-contact {
  margin-top: 40px;
  margin-bottom: 40px;
}

.h3 {
    font-weight: bold;
}

.social-icon-td {
  width: 35px;
  font-size: 21px;
}

.social-link-td {
  a:hover {
    color: #000;
    text-decoration: underline;
  }
  a {
    color: #444;
  }
}


}
