
.about-box {
  margin-top: 40px;
  padding-top: 15px;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  h5 {
    margin: 0 0 15px 12px;
  }
  
  a {
    text-decoration: none;
    color: $muted-color;
    &:hover {
      color: #000;
    }
  }
  i {
    font-size: 20px;
  }

  // .aboutimg {
  //   max-width: 180px;
  // }
}

#about-box-img {
  max-width: 160px;
  border-radius: 8px;
  margin-left: 50px;
}

#about-box-desc {
  margin-left: 15px;
  max-width: 240px;
  font-size: 14px;
  color: $muted-color;
}

#about-box-social {
  max-width: 160px;
  margin-left: 50px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}