.click-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  right: 50px;
  bottom: 40px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  font-size: 22px;
  user-select: none;
  transition: 0.3s;
  z-index: 10;

  @include media-query($on-palm) {
    display: none;
  }
}

.click-to-top.show {
  opacity: .75;
  transform: translateY(0);
}

html[data-theme="light"] {
  .click-to-top {
    background-color: $background-color;
    color: $text-color;
  }
}

html[data-theme="dark"] {
  .click-to-top {
    background-color: #556;
    color: $dark-text-color;
  }
}
