.theme-toggle {
  position: relative;
  width: 108px;
  margin-top: 16px;
  margin-left: auto;

  label, .toggle {
    border-radius: 4px;
  }

  label {
    display: block;
    background-color: rgba(120,120,120,.15);
    cursor: pointer;
  }

  .toggle {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    transition: transform .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .names {
    font-size: $small-font-size;
    width: 76%;
    margin-left: 12%;
    position: relative;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }

  .names p {
    margin-bottom: 0;
    margin-bottom: 1px;
    line-height: 21px;
    opacity: .6;
  }

  label .light {
    color: #777;
  }

  label .dark {
    color: #777;
  }

  [type="checkbox"] {
    display: none;
  }

  [type="checkbox"]:checked ~ label .toggle {
    transform: translateX(100%);
    background-color: #30323D;
  }

  [type="checkbox"]:checked ~ label .dark {
    color: #ddd;
  }

  [type="checkbox"]:checked ~ label .light {
    color: #ccc;
  }

  transition: margin .3s;
  @include media-query($on-palm) {
    width: $base-font-size * 6.65;
    margin-right: 20px;
    .names {
      font-size: .85em;
    }
  }
}
