<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark-dimmed.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>-->

{%- assign name = 'code_badge.enabled' -%}
{%- include functions.html func='get_value' default='true' -%}
{% assign badge_enabled = false %}

{% assign name = 'code_badge.color' -%}
{% include functions.html func='get_value' default='#eee' %}
{% assign badge_color = return %} 

{% assign name = 'code_badge.background_color' %}
{%- include functions.html func='get_value' default='#000' -%}
{%- assign badge_background_color = return -%}

 {% assign name = 'code_badge.text_transform' %}
 {%- include functions.html func='get_value' default='uppercase' -%}
 {%- assign badge_text_transform = return -%}

<script>
hljs.configure({
  languages: [ "java","kotlin","yaml","json","xml","dockerfile","plaintext","console"],
  ignoreUnescapedHTML: true
});
hljs.highlightAll();
// hljs.initLineNumbersOnLoad();
</script>
