@charset "utf-8";
@use "sass:color";
$theme-color: #fff;
$brand-color: #bb5120; // #ff5100

$base-font-family: Helvetica Neue, Helvetica, Arial, sans-serif, !default;
$base-font-size: 17px !default;
$base-font-weight: 400 !default;
$small-font-size:  15px !default;
$base-line-height: 1.6 !default;

$spacing-unit: 50px !default;
$bold-color: #000;
$text-color: #444 !default;
$muted-color: #888 !default;
$more-muted-color: #ccc;
$background-color: #fff !default;

$grey-color:       #828282 !default;
$white-color: #fdfdfd !default;

$table-text-align: left !default;

$header-height: 62px;
$header-text-color: #ccc;
$header-background-color: #1a1d20 !default;
$header-transparent: false;

$footer-height: 66px;
$footer-text-color: #777;
$footer-background-color: #eee !default; 

$banner-height: 330px !default;
$banner-text-color: #ccc !default;
// $banner-background: rgba(0,0,0,0.8) !default;
$banner-background: #505050;

// Width of the content area
$content-width: 1250px !default;
$on-palm:        700px !default;
$on-laptop:     1100px !default;
$post-width:    920px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin borderb() {
  border-bottom: 1px solid rgba(136, 136, 144, .5);
}

@mixin bordert() {
  border-top: 1px solid rgba(136, 136, 144, .4);
}

@mixin borderbo($op) {
  border-bottom: 1px solid rgba(128, 128, 128, $op);
}

@mixin borderto($op) {
  border-top: 1px solid rgba(128, 128, 128, $op);  
}

@import
  "yat/base",
  "yat/layout",
  "yat/dark",
  "misc/theme-toggle",
  "misc/article-menu",
  "misc/common-list",
  "misc/about-box",
  "misc/about",
  "misc/click-to-top"
;
