{% if include.paginator %}
  {% assign paginator = include.paginator %}
{% endif %}

{%- if paginator.posts.size > 0 -%}
  <div class="paginator">
    {% if paginator.previous_page %}
      <a class="prev" href="{{ paginator.previous_page_path | relative_url }}">
        <i class="fas fa-chevron-left"></i>
        &nbsp; Prev &nbsp; </a>
    {% else %}
      <span>Prev</span>
    {% endif %}

    <span class="indicator"> {{ paginator.page }} / {{ paginator.total_pages }} </span>

    {% if paginator.next_page %}
      <a class = "next" href="{{ paginator.next_page_path | relative_url }}">&nbsp; Next &nbsp;
        <i class="fas fa-chevron-right"></i>
      </a>
    {% else %}
      <span>Next</span>
    {% endif %}
  </div>

{%- endif -%}
