/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: #{$base-font-size};
  font-display: swap;
  line-height: #{$base-line-height};
  color: $text-color;
  background-color: $background-color;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


/* Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc($spacing-unit / 2);
}

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 11px;
  border: 1px solid rgba(96, 96, 96, .1);
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight * 1.5;
}


a {
  color: $brand-color;
  text-decoration: none;
  transition: color .25s;
  &:hover {
    text-decoration: none;
  }
}


blockquote {
  color: #944;
  border-left: 6px solid #b66;
  margin: 30px 0 30px 35px;
  padding-left: 16px;
  font-size: 17px;
  > :last-child {
    margin-bottom: 0;
  }
}

big-font {
  font-size: 24px;
}

/* Code formatting */
pre,
code {
  @include relative-font-size(0.79);
  color: $text-color;
}

*:not(pre) > code {
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #eee;
  margin: 0 5px;
}

pre {
  overflow-x: auto;
  position: relative;
  border-radius: 9px;
  background-color: #444;

  > code {
    display: inline-block;
    padding: 20px!important;
    background-color: transparent;
    border: 0;
  }

  table, pre {
    margin-bottom: 0;

    .gutter, .code {
      padding: 5px;
      border: none;
    }
  }
}

hr {
  @include bordert();
  margin-bottom: 30px;
}


.wrapper {
  max-width: $content-width;
  margin: auto;
  padding-right: 60px;
  padding-left: 60px;
  @extend %clearfix;
  transition: margin .3s, padding .3s;
  @include media-query($on-palm) {
    margin: 0 10px;
    padding: 0 10px;
    max-width: unset;
  }
}


/* Clearfix */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Tables */
table {
  display: block;
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  border-collapse: collapse;
  overflow: auto;
}

%flex {
  display: flex;
}

%flex-1 {
  flex: 1;
  min-width: 0; /* fix flexbox width with pre tags  */
}

/* Flex sticky */
@mixin flex-sticky($top) {
  position: sticky;
  align-self: flex-start; /* <-- fix the sticky not work issue */
  //transform: scale(0.9999); /* <-- fix the sticky x overflow issue */
  top: $top;
}

@mixin vertical-center($position) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizontal-center($position) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}

/* Center background image */
@mixin center-image {
  height: 100%;
  max-width: 1000%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}


// -----------
.pheader {
  font-size: 38px;
  font-weight: 600;
  margin: 10px 50px 75px 0;
  @include media-query($on-laptop) {
    margin-right: 15px;
  }
  @include media-query($on-palm) {
    margin-right: 0;
  }
  padding-bottom: 10px;
  @include borderb();
}
