$dark-background-color: #0e0e0e !default;
$dark-text-color: #bbb !default;
$text-color: $dark-text-color;
$footer-background-color: $header-background-color;
$muted-color: #777;
$bright-color: #ccc;

html[data-theme="dark"]  {
  /* &[data-scroll-status='top'] {
    header.site-header-transparent {
      &.site-header {
        @include media-query($on-laptop) {
          .page-link {
            color: #f8f8f8;
          }
        }
      }
    }

    footer.site-footer {
      .site-footer-inner {
        border-top: solid 1px #2f2f2f !important;
        transition: 0s;
      }
    }
  }*/

  body {
    color: $dark-text-color;
    background-color: $dark-background-color;
  }

  *:not(pre) > code {
    color: $dark-text-color;
    background-color: #444;
  }

  blockquote {
    border-left: 4px solid #555;
  }

  /*  
  table {
    color: #9d9d9d;
    th {
      background-color: #050505;
    }
    tr:nth-child(even) {
      background-color: #080808;
    }
  }
  */

  .site-header {
    @include media-query($on-laptop) {
      .menu-icon > svg {
          fill: rgba($dark-text-color, 80%);
      }

      .site-nav input:checked ~ .trigger {
        background-color: #090909;
      }
    }
  }

  .svg-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(/assets/images/icon/sprite-dark.svg);
  }

  .icon-moon {
    width: 18px;
    height: 24px;
    background-position: 0 0;
    vertical-align: middle;
  }

  .site-footer {
    background-color: $footer-background-color;
  }

  .left-vsplit:before {
    background-color: #9a9a9a;
  }

  .page-banner {
    .page-banner-img {
      & > *:first-child {
        opacity: 0.9;
      }
    }
  }

  .pagination {
    .post-link {
      color: $dark-text-color;
    }

    .post-excerpt {
      color: $dark-text-color;
    }

    .post-title {
      color: $muted-color;
      a:visited:after {
        background-color: $dark-background-color;
      }

      a:after {
        color: $dark-background-color;
      }
    }

    .post-list {
      & > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
    }

    .post-tags .post-tag:hover {
      color: $bright-color;
    }
  }

  .page-segments {
    li {
      a {
        color: $bright-color;
      }

      a:visited:after {
        background-color: $dark-background-color;
      }

      a:after {
        color: $dark-background-color;
      }
    }
  }

  .post {
    .post-header {
        border-bottom: 1px solid #444;
    }

    // .post-content {
    //   img:not(.emoji):not([raw]) {
    //     background-color: #ffffff33;
    //   }
    // } 
  }

  
  .post-nav {
    border-top: 1px solid #444;
    a {
      background-color: $header-background-color;
      color: $text-color;
      transition: background-color .3s;
      &:hover {
        color: $bright-color;
        background-color: #444;
      }
    }
  }

  .post-related {
    
    & > *:first-child {
      color: $text-color;
    }

    // a: {
    //   color: $text-color;
    // }

    a:visited:after {
      background-color: $dark-background-color;
    }

    a:after {
      color: $dark-background-color;
    }

    ul {
      a {
        color: #888;
        text-decoration: none;
        &:hover {
          color: #ddd;
        }
      }

    }
  }

  .common-list {
    li {
      border-bottom: solid 1px #333;
      a {
        color: #999;
        &:hover {
          color: $bright-color;
          background-color: $header-background-color;
        }
      }
      span {
        color: $dark-background-color;
      }
    }
  }

  .post-menu {
    .post-menu-title {
      color: $dark-text-color;
    }
    .post-menu-content {
      ul {
        border-left: 1px solid $muted-color;

        a {
          color: $muted-color;
          &:hover {
            color: $bright-color !important;
          }
        }

        .active {
          background-color: $header-background-color;
          color: $bright-color;
          border-left: 2px solid $bright-color;
          &:hover {
            background-color: #444;
          }
          a {
            color: $bright-color;
          }
        }
      }
    }
  }

  #footer-social {
    a:hover {
        color: $bright-color;
    }
  }

  .about-box {
    border-bottom: 1px solid #555;
    color: $muted-color;
    a {
      text-decoration: none;
      &:hover {
        color: $bright-color;
      }
    }
  }
    
  #about-box-desc {
    color: $muted-color;
  }

}
