$dark-background-color: #0e0e0e !default;
$dark-text-color: #bbb !default;
$footer-background-color: $header-background-color;
$muted-color: #777;
$bold-color: #ddd;

html[data-theme="dark"]  {
  /* &[data-scroll-status='top'] {
    header.site-header-transparent {
      &.site-header {
        @include media-query($on-laptop) {
          .page-link {
            color: #f8f8f8;
          }
        }
      }
    }
  }*/

  body {
    color: $dark-text-color;
    background-color: $dark-background-color;
  }

  *:not(pre) > code {
    color: $dark-text-color;
    background-color: #444;
  }

  blockquote {
    border-left: 4px solid #555;
  }

  .post-meta {
    color: $muted-color;
  }


  /*  
  table {
    color: #9d9d9d;
    th {
      background-color: #050505;
    }
    tr:nth-child(even) {
      background-color: #080808;
    }
  }
  */

  .site-header {
    @include media-query($on-laptop) {
      .menu-icon > svg {
          fill: rgba($dark-text-color, 80%);
      }

      .site-nav input:checked ~ .trigger {
        background-color: #090909;
      }
    }
  }

  .svg-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(/assets/images/icon/sprite-dark.svg);
  }

  .icon-moon {
    width: 18px;
    height: 24px;
    background-position: 0 0;
    vertical-align: middle;
  }

  .site-footer {
    background-color: $footer-background-color;
  }

  .left-vsplit:before {
    background-color: #9a9a9a;
  }

  .page-banner {
    .page-banner-img {
      & > *:first-child {
        opacity: 0.9;
      }
    }
  }

  .pagination {
    .post-link {
      color: $dark-text-color;
      &:hover {
        color: $bold-color;
      }
    }

    .post-excerpt {
      color: $muted-color;
      a:hover {
        color: $bold-color;
      }
    }

    .post-title {
      color: $muted-color;
    }

    .paginator {
      color: $muted-color;
      a {
        background-color: $header-background-color;
        color: $muted-color;
        &:hover {
          color: $bold-color;
          background-color: #334;
        }
      }
      .prevnext {
        span {
          color: #555;
        }
      }
    }
  }

  .post-tag:hover {
    color: $bold-color;
  }

  .page-segments {
    li {
      a {
        color: $dark-text-color;
        &:hover {
          color: $bold-color;
        }
      }
    }
  }

  .post-nav {
    a {
      background-color: $header-background-color;
      color: $dark-text-color;
      transition: background-color .25s;
      &:hover {
        color: $bold-color;
        background-color: #334;
      }
    }
  }

  .post-related {
    & > *:first-child {
      color: $dark-text-color;
    }

    ul {
      a {
        color: #888;
        text-decoration: none;
        &:hover {
          color: #ddd;
        }
      }
    }
  }

  .common-list {
    li {
      a {
        color: $muted-color;
        &:hover {
          color: $bold-color;
          background-color: $header-background-color;
        }
      }
      span {
        color: $dark-background-color;
      }
    }
  }

  .post-menu {
    .post-menu-title {
      color: $dark-text-color;
    }
    .post-menu-content {
      ul {
        border-left: 1px solid $muted-color;
        a {
          color: $muted-color;
          &:hover {
            color: $bold-color !important;
          }
        }

        .active {
          background-color: $header-background-color;
          color: $bold-color;
          border-left: 2px solid $bold-color;
          &:hover {
            background-color: #334;
          }
          a {
            color: $bold-color;
          }
        }
      }
    }
  }

  a .post-badges .post-badge {
    color: $dark-background-color !important;
  }

  a:visited .post-badges .post-badge.badge-new {
    display: none;
    background-color: $dark-background-color;
  }

  img {
    opacity: .85;
  }

  #footer-social {
    a:hover {
        color: $bold-color;
    }
  }

  .about-box {
    color: $muted-color;
    a {
      &:hover {
        color: $bold-color;
      }
    }
  }
  #about-box-desc {
    color: $muted-color;
  }
}
