$base-font-size: 15px;

// $theme-color: #0A0603;
// $brand-color: #A01600;

$banner-height: 360px;
$header-transparent: false;
$header-background-color: #000;
$header-text-color: #EEEEEE;
$dark-header-background-color: #404040;

$banner-background: #505050;