$base-font-size: 15px;

// $theme-color: #0A0603;
// $brand-color: #A01600;

$content-width: 1200px;

$banner-height: 360px;
$header-transparent: false;
$header-background-color: #22272E;
$header-text-color: #EEEEEE;
$dark-header-background-color: #272B31;

$banner-background: #505050;