<div id="giscus_thread"></div>
<script src="https://giscus.app/client.js"
        data-repo="bkoprucu/berk-discussions"
        data-repo-id="R_kgDOMygGnQ"
        data-category="General"
        data-category-id="DIC_kwDOMygGnc4CihHw"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<noscript>Please enable JavaScript to view the comments</noscript>