<div class="about-box">
  <div class="common-list-header">
    <a href="/about">ABOUT ME</a>
  </div>

  <div style="display: flex; justify-content: center;">
    <a href="/about"><img id="about-box-img" src="/assets/images/berk_IMG_3996.webp" /></a>
  </div>
  <div class="social">
    {%- include views/social-list.html skip='rss' -%}
  </div>

  <div style="text-align: center;">
    <i class='fas fa-map-marker-alt' style="font-size: 16px; line-height: 1.2;"></i>&nbsp; Stockholm - Sweden
  </div>

  <div style="text-align: center; margin: 15px auto 30px auto">
    Software Engineer<br>
    Consultant
  </div>
</div>
