<div class="about-box">  
  <a href="/about"><h5>ABOUT ME</h5></a>
  <div style="display: flex; justify-content: center;">
    <a><img id="about-box-img" src="/assets/images/berk_small_sq.jpg" /></a>
  </div>
  <div id="about-box-social">
    {%- include views/social-list.html skip='rss' -%}
  </div>
  <p>
  <div style="text-align: center">
    Software Engineer<br>
    Consultant<br>
    Java Expert<br>
  </div>
  </p>
  <p style="text-align: center;">
    <i class='fas fa-map-marker-alt' style="font-size: 15px; line-height: 1.2;"></i> Stockholm / Sweden
  </p>
</div>
